@media (max-width: 766px) {
    .uk-description-list>dd:last-child {
        margin-bottom: 20px;
    }
}

.uk-grid-margin.uk-first-column {
    margin-top: 30px;
}

.uk-grid-divider.uk-grid-stack>.uk-grid-margin::before {
    top: -15px;
    left: 60px;
}