<div id="eventDetailModal" uk-modal="center: true">
    <div class="uk-modal-dialog uk-modal-body uk-padding-remove uk-width-1-1 uk-width-1-2@l">
        <button class="uk-modal-close-full visible-xs" type="button" uk-close></button>
        <button class="uk-modal-close-outside hidden-xs" type="button" uk-close></button>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top text-center" *ngIf="event?.imagePath">
                <img [src]="event?.imagePath || ''">
            </div>
            <div class="uk-card-header">
                <div class="col-xs-12">
                    <h3 class="uk-margin-remove">
                        <span>{{event?.title}}</span>
                    </h3>
                </div>
            </div>
            <div class="uk-card-body uk-padding-medium clearfix">
                <div class="col-xs-12 col-sm-6">
                    <dl class="uk-description-list">
                        <dt *ngIf="event?.type">Тип мероприятия</dt>
                        <dd>{{event?.type}} <br></dd>
                        <dt *ngIf="event?.cost">Стоимость</dt>
                        <dd>{{event?.cost}}</dd>
                    </dl>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <dl class="uk-description-list">
                        <dt *ngIf="event?.date">Дата и время начала</dt>
                        <dd *ngIf="event?.date && isIE()">{{event?.date | date:'fullDate'}}</dd>
                        <dd *ngIf="event?.date && !isIE()">{{event?.date | date:'fullDate'}} в {{event?.date | date:"HH:mm"}}
                        </dd>
                        <dt *ngIf="event?.place">Место проведения</dt>
                        <dd>{{event?.place}}</dd>
                    </dl>
                </div>
                <div class="col-xs-12">
                    <h3 class="uk-heading-divider" *ngIf="event?.additionalInfo && event?.additionalInfo.length > 0">
                        Описание
                    </h3>
                    <div class="article" [innerHTML]="event?.additionalInfo | safeHtml">
                    </div>
                    <h3 class="uk-heading-divider" *ngIf="event?.audience && event?.audience.length > 0">
                        Целевая аудитория
                    </h3>
                    <div class="article" [innerHTML]="event?.audience | safeHtml"></div>
                    <h3 class="uk-heading-divider" *ngIf="event?.goal && event?.goal.length > 0">
                        Цель мероприятия
                    </h3>
                    <div class="article" [innerHTML]="event?.goal | safeHtml"></div>
                    <h3 class="uk-heading-divider" *ngIf="event?.schedule && event?.schedule.length > 0">
                        Программа
                    </h3>
                    <div class="article" [innerHTML]="event?.schedule | safeHtml"></div>
                </div>
            </div>
            <div class="uk-margin-small visible-xs"></div>
            <div class="uk-card-footer text-center">
                <a class="uk-button uk-button-text" (click)="openSubscriptionModal()">
                  принять участие
                </a>
            </div>
        </div>
    </div>
</div>