<div class="col-xs-12 uk-margin-medium-top uk-margin-medium-bottom">
  <ul uk-accordion="collapsible: false"
      class="uk-card uk-card-default uk-card-small uk-card-body uk-animation-slide-top-medium"
      *ngIf="getFullCategories()?.length > 0">
    <li *ngFor="let category of getFullCategories()">
      <h3 class="uk-accordion-title uk-heading-divider">
        <input
          class="uk-input uk-form-small uk-form-blank uk-form-width-medium"
          type="text"
          [(ngModel)]="category.title"
          [readonly]=isReadonlyTitle
          placeholder="Название категории...">
        <span
          class="uk-align-right uk-margin-remove-vertical uk-margin-small-left"
          (click)="removeCategory(category)"
          uk-icon="icon: close">
        </span>
        <span
          class="uk-align-right uk-margin-remove-vertical uk-margin-small-left"
          (click)="isReadonlyTitle = false"
          *ngIf="isReadonlyTitle"
          uk-icon="icon: pencil">
        </span>
        <span
          class="uk-align-right uk-margin-remove-vertical uk-margin-small-left"
          (click)="renameCategory(category)"
          *ngIf="!isReadonlyTitle"
          uk-icon="icon: check">
        </span>
      </h3>
      <div class="uk-accordion-content">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div
              *ngFor="let event of getEventByCategory(category); let even = even">
              <app-event-item
                class="uk-margin-medium-bottom"
                *ngIf="even"
                [event]="event">
              </app-event-item>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div
              *ngFor="let event of getEventByCategory(category); let odd = odd">
              <app-event-item
                class="uk-margin-medium-bottom"
                *ngIf="odd"
                [event]="event">
              </app-event-item>
            </div>
          </div>
        </div>
        <h3
          class="uk-text-lead uk-text-muted uk-margin-remove"
          *ngIf="getEventByCategory(category)?.length === 0">
          Список мероприятий пуст
        </h3>
      </div>
    </li>
  </ul>
</div>
<app-new-event-modal
  [categories]="eventsCategoryList"
  [trainers]="trainersList">
</app-new-event-modal>