<footer class="uk-card uk-margin-medium-top">
  <div class="container">
    <div class="row uk-margin-small-top uk-margin-small-bottom info-block">
      <div
        class="col-xs-12 col-md-6 uk-margin-small-top uk-margin-small-bottom">
        <div
          class="uk-align-left@m uk-align-center uk-text-center@s uk-text-left@m uk-margin-remove">
          <div>
            <p class="uk-text-meta uk-margin-remove">свяжитесь с нами</p>
            <span uk-icon="icon: mail"></span>
            <a href="mailto:catalina777@ukr.net">catalina777@ukr.net</a> |
            <span uk-icon="icon: phone"></span>
            <a href="tel:+380506171891">050-617-18-91</a>
          </div>
        </div>
      </div>
      <div
        class="col-xs-12 col-md-6 uk-margin-small-top uk-margin-small-bottom">
        <div
          class="uk-align-right@m uk-align-center uk-text-center uk-margin-remove">
          <input
            class="uk-input uk-form-width-medium"
            type="text"
            [(ngModel)]="footerEmail"
            placeholder="Введите Ваш e-mail...">
          <button
            [routerLink]="['/contact-page', footerEmail]"
            class="uk-button uk-button-default subscribe-button">
            Подписаться
          </button>
        </div>
      </div>
    </div>
  </div>
  <a id="toTop" href="#" uk-totop uk-scroll></a>
</footer>