@media (max-width: 639px) {
    .info-block {
        text-align: center;
    }
}

.uk-contacts {
    margin-top: 6px;
}

footer {
    min-height: 120px;
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    footer {
        min-height: 146px;
    }
}

@media screen and (min-width: 992px) {
    footer {
        min-height: 90px;
    }
}

footer .uk-icon {
    color: rgba(0, 0, 0, 0.65);
    text-align: left;
}

.uk-icon:last-child {
    margin-left: -3px;
}

footer a {
    color: rgba(0, 0, 0, 0.65);
    font-family: 'Open Sans', sans-serif;
    padding: 2px 0;
}

footer.uk-card {
    border-radius: 0;
    border-top: 4px solid rgba(255, 0, 0, 0.52);
    box-shadow: none !important;
}

@media screen and (max-width: 396px) {
    .subscribe-button {
        margin-top: 10px;
    }
}