<div id="trainerDetailModal" uk-modal="center: true">
    <div class="uk-modal-dialog uk-modal-body uk-padding-remove uk-width-3-5@s uk-width-1-1@m uk-width-3-5@l">
        <button class="uk-modal-close-full visible-xs" type="button" uk-close></button>
        <button class="uk-modal-close-outside hidden-xs" type="button" uk-close></button>
        <form class="uk-grid-small uk-padding-small" uk-grid>
            <div class="uk-width-1-1@s uk-width-1-5@m">
                <img class="uk-width-1-1@s" [src]="trainer?.photoUrl || ''" alt="Photo">
            </div>
            <div class="uk-width-1-1@s uk-width-4-5@m">
                <h4 class="uk-comment-title uk-heading-divider">
                    <span>{{trainer?.fullName}}</span>
                </h4>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="trainer?.email">
                        E-mail: {{trainer?.email}}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="trainer?.phoneNumber">
                        Телефон: {{trainer?.phoneNumber}}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4" *ngIf="trainer?.siteUrl">
                        Сайт: {{trainer?.siteUrl}}
                    </div>
                </div>
                <hr>
                <div [innerHTML]="trainer?.description | safeHtml"></div>
            </div>
            <div *ngIf="trainer?.events?.length > 0" class="uk-width-1-1">
                <h3 class="uk-heading-line uk-text-center"><span>Список тренингов</span>
                </h3>
                <div class="row">
                    <div class="col-xs-12 col-md-4" *ngFor="let column of [0, 1, 2]">
                        <div *ngFor="let eventChunk of getTrainerEventsInChunks()">
                            <div *ngFor="let event of eventChunk; let i = index">
                                <dl *ngIf="column === i" class="uk-description-list uk-description-list-divider" (click)="openEventDetails(event)">
                                    <dt>
                                        <h4 class="uk-heading-line text-center uk-margin-small-bottom">
                                            <span>{{event?.title}}</span>
                                        </h4>
                                    </dt>
                                    <dd>
                                        <div class="row text-center">
                                            <div class="col-xs-12" *ngIf="event?.type">
                                                Тип: {{event?.type}}
                                            </div>
                                            <div class="col-xs-12" *ngIf="event?.date">
                                                Дата: {{event?.date | date: 'shortDate'}}
                                            </div>
                                            <div class="col-xs-12" *ngIf="event?.place">
                                                Место: {{event?.place}}
                                            </div>
                                        </div>
                                    </dd>
                                    <hr>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<app-event-modal [event]="currentEvent"></app-event-modal>
<app-subscription-modal [entity]="currentEvent" [type]="'Мероприятие'"></app-subscription-modal>