<div class="container">
  <div class="row">
    <div class="uk-clearfix uk-margin-medium-top">
      <div class="col-xs-12 col-md-6">
        <div class="uk-align-left@m uk-align-center uk-text-center@s">
          <h1 routerLink="/home-page"
              class="uk-heading-primary logo gray uk-margin-remove">
            WOW Service School
          </h1>
        </div>
      </div>
      <div class="col-xs-12 col-md-6 visible-lg visible-md">
        <div class="uk-align-right">
          <a href="tel:+380506171891"
             class="uk-text-lead uk-button uk-button-text">050-617-18-91</a>
          <p class="uk-text-meta uk-margin-remove">свяжитесь с нами</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <ul
        id="mainNavigation"
        class="uk-tab-bottom uk-flex-center uk-margin-remove-top uk-tab">
        <li
          *ngFor="let link of links; let i = index"
          [ngClass]="{'uk-active': selectedLinkIndex === i}">
          <a routerLink="{{link.path}}">
            {{link.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>