<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 uk-text-center uk-animation-slide-top-medium">
      <br>
      <h2 class="uk-heading-line uk-text-center uk-margin-medium-bottom uk-margin-medium-top">
        <span>WOW service school – это школа, в которой учат сервису!</span>
      </h2>
      <p>
        Мы точно знаем, что правильно внедренная сервисная стратегия в компании
        превышает самые оптимистичные ожидания ее собственников! И чем больше
        компаний это осознают и начнут уделять должное внимание своему сервису –
        тем более качественный и комфортный сервис мы получим в нашем городе, в
        нашей стране и в мире в целом.
      </p>
      <p>
        Наша миссия – постоянное улучшение сервиса в Украине, странах СНГ и
        Европы. Наша команда «клиентоманов» посвящает этой миссии не только свои
        рабочие часы – это неотъемлемая часть жизни каждого из нас.
      </p>
      <p>
        Спектр наших услуг ориентирован на построение сервиса, его аудит и
        непрерывное развитие в компаниях на всех точках контактов с клиентом.
        Будучи экспертами в построении и оптимизации бизнес-процессов, мы не
        просто даем громкие рекомендации, мы помогаем осуществлять реальные
        внедрения на реальных продуктах в реальных командах.
      </p>
      <p>
        Мы делимся нашими знаниями на открытых и корпоративных тренингах и
        семинарах. Проводим коучинг-сессии для лидеров сервисных команд.
        Оказываем широкий спектр консалтинговых услуг. Помогаем найти сервисных
        людей в ваши команды.
      </p>
      <p>
        Давайте менять мир вместе! А изменения, как известно, начинаются с меня,
        моей команды, моей компании. Мы станем вашим верным помощником на пути к
        этим изменениям!
      </p>
      <hr class="uk-divider-icon uk-margin-medium-top">
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>